<h2 class="title">Let's talk about us</h2>
<div class="row">
    <div class="col-md-6">
        <div class="card card-profile card-plain">
            <div class="card-avatar">
                <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
            </div>
            <div class="card-block">
                <a href="#paper-kit">
                    <div class="author">
                        <h4 class="card-title">Henry Ford</h4>
                        <h6 class="card-category">Product Manager</h6>
                    </div>
                </a>
                <p class="card-description text-center">
                    Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                </p>
            </div>
            <div class="card-footer text-center">
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card card-profile card-plain">
            <div class="card-avatar">
                <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
            </div>
            <div class="card-block">
                <a href="#paper-kit">
                    <div class="author">
                        <h4 class="card-title">Robert Orben</h4>
                        <h6 class="card-category">Developer</h6>
                    </div>
                </a>
                <p class="card-description text-center">
                    The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                </p>
            </div>
            <div class="card-footer text-center">
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>