<div class="owner">
    <div class="name">
        <h2 class="title">Plan de Béni Mellal - Plan interactif de Béni Mellal<br /></h2>
        <h6 class="description">Informations sur le plan</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-12 ml-auto mr-auto text-left">
        <p>Sur notre plan de Paris vous pourrez voir la localisation des monuments, musées, places, églises et points d'intérêt de la ville. En cliquant sur chaque icône, vous pourrez voir de quel lieu il s'agit.</p>
        <p>
            Pour vous aider à vous orienter une fois dans la ville, en imprimant le plan vous remarquerez que les numéros des icônes sur le plan coïncident avec les numéros de la liste des points d'intérêt. De cette manière, vous pourrez savoir quel lieu représente
            chaque icône.
        </p>
        <h3>Instructions d'utilisation pour le plan interactif :</h3>
        <br>
        <p>Utiliser le plan est très simple:</p>
        <ul>
            <li>Voir les informations du plan : en cliquant sur les marqueurs de couleur.</li>
            <li>Se déplacer sur le plan : en faisant glisser la souris.</li>
            <li>Zoomer : En double-cliquant avec le bouton gauche de la souris sur le plan ou en utilisant la roulette de la souris du bas vers le haut</li>
            <li>Dézoomer : En double-cliquant avec le bouton droit de la souris sur le plan ou en utilisant la roulette de la souris du haut vers le bas.</li>
        </ul>
    </div>
</div>