<div class="col-md-12">
    <div class="tim-title">
        <h3>Guide de Béni Mellal</h3>
    </div>

    <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
            <ngb-tabset [justify]="'center'">
                <ngb-tab title="La ville de Béni Mellal">
                    <ng-template ngbTabContent>
                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface that seamlessly meets the new Retina HD display.</p>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="QUE VOIRE">
                    <ng-template ngbTabContent>
                        <img class="img-fluid" src="../../../../assets/img/map.jpg" alt="">
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="TRANSPORT">
                    <ng-template ngbTabContent>
                        <p>Here are your messages.</p>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="OÙ MANGER">
                    <ng-template ngbTabContent>
                        <p>Here is your profile.</p>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="SHOPPING">
                    <ng-template ngbTabContent>
                        <p>Here are your messages.</p>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="OÙ DORMIR">
                    <ng-template ngbTabContent>
                        <p>Here are your messages.</p>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>

</div>