<div class="col-md-12">
    <div class="tim-title marg">
        <h3>Guide de Béni Mellal</h3>
    </div>

    <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
            <ngb-tabset [justify]="'center'">
                <ngb-tab title="La ville de Béni Mellal">
                    <ng-template ngbTabContent>
                        <div #fullScreen>
                            <app-map [placeType]="Allplaces"></app-map>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="QUE VOIRE">
                    <ng-template ngbTabContent>
                        <div #fullScreen>
                            <app-map [placeType]="placeQueVoire"></app-map>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="TRANSPORT">
                    <ng-template ngbTabContent>
                        <div #fullScreen>
                            <app-map [placeType]="transport"></app-map>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="OÙ MANGER">
                    <ng-template ngbTabContent>
                        <div #fullScreen>
                            <app-map [placeType]="OuManger"></app-map>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="SHOPPING">
                    <ng-template ngbTabContent>
                        <div #fullScreen>
                            <app-map [placeType]="shopping"></app-map>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="OÙ DORMIR">
                    <ng-template ngbTabContent>
                        <div #fullScreen>
                            <app-map [placeType]="OuDormir"></app-map>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="VISITE TOURISTIQUE">
                    <ng-template ngbTabContent>
                        <div #fullScreen>
                            <app-map [placeType]="visiteTouristique"></app-map>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
    <button class="btn btn-warning btn-round text-center" (click)="onFullScreen($event)">Ouvrir en plein écran</button>
</div>