<div class="container">
    <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
            <h2 class="text-center">Keep in touch?</h2>
            <form class="contact-form">
                <div class="row">
                    <div class="col-md-6">
                        <label>Name</label>
                        <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Email</label>
                        <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                            <div class="input-group-prepend">
                                <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false">
                        </div>
                    </div>
                </div>
                <label>Message</label>
                <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                <div class="row">
                    <div class="col-md-4 mr-auto ml-auto">
                        <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>