<app-header></app-header>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <app-about></app-about>
            <br/><br/>
            <app-guide></app-guide>
            <br/><br/>
            <app-plan-info></app-plan-info>
        </div>
    </div>
    <div class="section section-dark text-center">
        <div class="container">
            <app-about-us></app-about-us>
        </div>
    </div>
    <div class="section landing-section">
        <app-keep-in-touch></app-keep-in-touch>
    </div>
</div>