<div class="row">
    <div class="col-md-8 mr-auto ml-auto">
        <h2 class="title">Parlons de Béni Mellal city</h2>
        <h5 class="description">
            Béni Mellal possède une caractéristique unique parmi les villes marocaines : les constructions y ont été édifiées au-dessus de grottes. Plusieurs historiens et chercheurs sur l'histoire marocaine affirment que Béni Mellal est l'un des premiers endroits
            occupés par l'homme en Afrique du Nord.
        </h5>
        <br>
        <a target="_blank" href="https://fr.wikipedia.org/wiki/B%C3%A9ni_Mellal" class="btn btn-danger btn-round">Voir les détails</a>
    </div>
</div>