<div class="page-header" data-parallax="true" style="">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Plan de Béni mellal</h1>
            <h3>Plan de Béni mellal interactif.</h3>
            <br />
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
            <button type="button" class="btn btn-outline-neutral btn-round">Download</button>
        </div>
    </div>
</div>